{% extends "base.html" %}
{% block main %}
    <div class="col-xs-12">
        <div align="right" id="date"><h3>{% now "DATE_FORMAT" %}</h3></div>
        <div align="center" id="pageTitle"><h2>Front Desk Roster for {{ community }} - {{ building }} Rooms {{ start_room }} to {{ end_room }}</h2><br /><span style="color:red; padding-top: 5px;">Buckley in Red</span></div>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th scope="col" width="20%">Name</th>
                    <th scope="col" width="30%">Dorm Address</th>
                    <th scope="col" width="10%">Cell Phone</th>
                    <th scope="col" width="10%">Dorm Phone</th>
                    <th scope="col" width="15%">Email Address</th>
                </tr>
                {% if resident_data %}
                    {% for resident in resident_data %}
                    <tr {% if resident.is_buckley %}style="color:red"{% endif %}>
                        <td>{{ resident.full_name }}</td>
                        <td>{{ resident.address }}</td>
                        <td>{{ resident.cell_phone }}</td>
                        <td>{{ resident.dorm_phone }}</td>
                        <td>{{ resident.email }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="5" style="text-align: center">{{ error_message }}</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}