{% extends "base.html" %}
{% block subtitle %} | Front Desk Roster Generator{% endblock %}

{% block main %}
    <div class="col-xs-12">
        <h1>Front Desk Roster Generator</h1>
        <p>This tool is used to create building rosters. Simply choose your community and building from the drop-down menu and click generate.</p>
        <p><b>NOTE: The generator must retrieve a massive number of entries from the RMS database. Please be patient as your request is processed.</b></p>
        <div>
            <form method="post" action="{% url 'fd_roster' %}" id="fd_generation_form">
                <fieldset>
                    <legend>
                        Select a Dorm Address Range
                    </legend>
                    <p>
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    </p>
                    {{ form.as_p }}
                </fieldset>
                <p id="submit_container">
                    <input type="hidden" value="" name="mode" id="id_mode" />
                    <input type="submit" value="Generate" onclick="$('#id_mode').val('normal'); block_ui(); this.form.submit(); return true;" />  {# submit called here because of stupid chrome bug #}
                    <input type="submit" value="Generate CSV" onclick="$('#id_mode').val('csv'); block_ui(); this.form.submit(); return true;" /> {# submit called here because of stupid chrome bug #}
                </p>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
{{ block.super }}
    <script type="text/javascript">
        function block_ui() {
            $.blockUI({message: '<h1 style="padding: 6px 6px; margin-bottom: 0px;">Generating the roster. Please wait...</h1>'});
        }
    </script>
{% endblock %}