{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block subtitle %} | Roster Generator{% endblock %}

{% block extra_head %}
{{ block.super }}
    <link rel="stylesheet" href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" type="text/css"/>
{% endblock %}

{% block main %}
    <div class="col-xs-12">
        <div class="page-header">
            <h2>Roster Generator</h2>
        </div>
        <p>This tool is used to create rosters. Choose the buildings for which you'd like a roster in the form below and click generate.</p>
        <p><b>NOTE: The generator must retrieve a massive number of entries from the RMS database. Please be patient while your request is processed.</b></p><br />
    </div>

    <div class="col-xs-12">
        {% crispy form %}
    </div>
{% endblock %}

{% block extra_script %}
{{ block.super }}
    <script type="text/javascript" src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript">
        function block_ui() {
            console.log('Here');
            $.blockUI({
                message: '<h2 style="margin-bottom: 20px;">Generating the roster. Please wait...</h2>',
                css: {
                    width: '80%',
                    left: '10%'
                },
            });
        }
        
        $(document).ready(function() {
            $('#id_buildings').multiselect({
                includeSelectAllOption: true,
                enableCaseInsensitiveFiltering: true,
                maxHeight: 400,
                buttonWidth: '100%',
                numberDisplayed: 0
            });
            $('#roster-buildings-form').submit(block_ui);
        });
    </script>
{% endblock %}