/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */

.disabled {
    background-color: rgb(180,180,180);
    color: rgb(100,100,100);
}

.disabled a {
    color: rgb(100,100,100);
}

.old {
    background-color: rgb(255,226,77);
}

.older {
    background-color: rgb(255,151,77);
}

.replace {
    background-color: rgb(255,107,77);
}



/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
    background-color: #e7e7e7;
}
tr.odd td.sorting_2 {
    background-color: #e7e7e7;
}
tr.odd td.sorting_3 {
    background-color: #e7e7e7;
}

tr.even td.sorting_1 {
    background-color: #dbdbdb;
}
tr.even td.sorting_2 {
    background-color: #dbdbdb;
}
tr.even td.sorting_3 {
    background-color: #dbdbdb;
}

/*
 * Sorting classes for columns
 */

tr.old {
    background-color: rgb(255,222,52);
}

tr.older {
    background-color: rgb(255,136,52);
}

tr.replace {
    background-color: rgb(255,86,52);
}

/*
 * Custom Row Highlighting
 *
 */

tr:hover td.sorting_1, tr:hover td.sorting_2, tr:hover td.sorting_3, tr:hover td.sorting_1 div, tr:hover td.sorting_2 div, tr:hover td.sorting_3 div {
    background-color: #86BC7D;
}
