{% extends "base.html" %}
{% block subtitle %} | Resident Lookup{% endblock %}

{% block main %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h1>Resident Lookup</h1>
                <p>This tool is used to perform user lookups. Choose to look up by full name, email, or dorm address. The apartment and full name searches can return multiple names - this is useful when searching by address, as inputting the apartment number will return all occupants.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <form method="post" action="{% url 'resident_lookup' %}" id="search_form_full_name">
                    <fieldset>
                        <legend>
                            Search by Full Name
                        </legend>
                        {{ full_name_form.as_p }}
                    </fieldset>
                    <p>
                        <input type="hidden" name="lookup_type" value="full_name" />
                        <input class="btn btn-primary" type="submit" value="Submit" />
                    </p>
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <form method="post" action="{% url 'resident_lookup' %}" id="search_form_principal_name">
                    <fieldset>
                        <legend>
                            Search by Email Address
                        </legend>
                        {{ principal_name_form.as_p }}
                    </fieldset>
                    <p>
                        <input type="hidden" name="lookup_type" value="principal_name" />
                        <input class="btn btn-primary" type="submit" value="Submit" />
                    </p>
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-12">
                <form method="post" action="{% url 'resident_lookup' %}" id="search_form_address">
                    <fieldset>
                        <legend>
                            Search by Dorm Address
                        </legend>
                        <p>
                        {{ address_form.non_field_errors }}
                        {% for field in address_form %}
                            {{ field.errors }}
                        {% endfor %}
                        </p>
                        {{ address_form.as_p }}
                    </fieldset>
                    <p>
                        <input type="hidden" name="lookup_type" value="address" />
                        <input class="btn btn-primary" type="submit" value="Submit" />
                    </p>
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Results</h3>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th scope="col" width="25%">Name</th>
                            <th scope="col" width="10%">Email</th>
                            <th scope="col" width="15%">Cell Phone</th>
                            <th scope="col" width="15%">Dorm Phone</th>
                            <th scope="col" width="35%">Dorm Address</th>
                        </tr>
                        {% if search_results %}
                            {% for resident in search_results %}
                            <tr>
                                <td>{{ resident.full_name }}</td>
                                <td>{{ resident.email }}</td>
                                <td>{{ resident.cell_phone }}</td>
                                <td>{{ resident.dorm_phone }}</td>
                                <td>{{ resident.address }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
