{% extends "base.html" %}
{% load core_user_tests %}
{% load datatables %}

{% load crispy_forms_tags %}

{% block subtitle %} | Port Map{% endblock %}

{% block main %}
    <div class="col-xs-12">
        <div class="page-header">
            <h2>Port Map</h2>
        </div>
    </div>

    {% if form.errors %}
    <div class="col-xs-12">
        <div class="bs-callout bs-callout-danger">
            <h4>Form Error</h4>
            The port could not be added. Refer to the form below for details.
        </div>
    </div>
    {% endif %}

    <div class="col-xs-12">
        <table id="portmap"></table>
    </div>

    {% if request.user|portmap_modify_access %}
    <div class="col-xs-12">
        {% crispy form %}
    </div>
    {% endif %}
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    {% datatables_script %}

    {% if request.user|portmap_modify_access %}
    <script type="text/javascript">
        function confirm_status_change(port_id) {
            var response = confirm('Are you sure you want to change the status of this port?');
            if (response) {
                ajaxPost("{% url 'change_port_status' %}", {"port_id": port_id}, function(response_context) {
                    var rendered_row = response_context["rendered_row"];
                    redraw_datatables_row($("#" + port_id), rendered_row);
                });
            } else {
                return false;
            }
        }
    </script>
    {% endif %}
{% endblock %}