{% extends "base.html" %}
{% load core_user_tests %}
{% load datatables %}

{% block meta %}
{{ block.super }}
{% datatables_script %}
{% endblock %}

{% block subtitle %} | Residence Halls Wired Port Map{% endblock %}

{% block content %}
<div id="content-2col">
	<div id="content">
		<div id="splashOuter">
			<!--<div id="splash"></div>-->
		</div>
		<div id="topContent">
			<h1>Residence Halls Wired Port Map</h1>
		</div>
		{% if request.user|portmap_modify_access %}
        <p style="color: red;">
            {{ form.non_field_errors }}
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}
        </p>
        {% endif %}
		<div class="clear"></div>
		<table id="residence_halls_wired_port_map">
			<tfoot>
				<tr>
					<th></th>
				</tr>
			</tfoot>
		</table>
		<div class="clear"></div>
		{% if request.user|portmap_modify_access %}
        <div>
            <form method="post" id="add_port_form">
                <fieldset>
                <legend>
                    Add a new port
                </legend>
                    <p>
                        {{ form.non_field_errors }}
                        {% for field in form %}
                        {{ field.errors }}
                        {% endfor %}
                    </p>
                    <div class="horizontal_fields">
                    <p>
                        <label for="id_community">{{ form.community.label }}</label>
                        {{ form.community }}
                    </p>
                    <p>
                        <label for="id_building">{{ form.building.label }}</label>
                        <select id="id_building" name="building" size="1">
                        {% if form.building.value %}
                            <option value="{{ form.building.value }}" selected="selected">{{ form.building.label }}</option>
                        {% else %}
                        	<option value="" selected="selected">---------</option>
                        {% endif %}
                        </select>
                    </p>
                    <p>
                        <label for="id_room">{{ form.room.label }}:</label>
                        {{ form.room }}
                    </p>
                    <p>
                        <label for="id_switch_ip">{{ form.switch_ip.label }}:</label>
                        {{ form.switch_ip }}
                    </p>
                    <p>
                        <label for="id_switch_name">{{ form.switch_name.label }}:</label>
                        {{ form.switch_name }}
                    </p>
                    <p>
                        <label for="id_jack">{{ form.jack.label }}:</label>
                        {{ form.jack }}
                    </p>
                    <p>
                        <label for="id_blade">{{ form.blade.label }}:</label>
                        {{ form.blade }}
                    </p>
                    <p>
                        <label for="id_port">{{ form.port.label }}:</label>
                        {{ form.port }}
                    </p>
                    <p>
                        <label for="id_vlan">{{ form.vlan.label }}:</label>
                        {{ form.vlan }}
                    </p>
                    </div>
                </fieldset>
                    <p>
                        <input type="submit" value="Add" />
                    </p>
                {% csrf_token %}
            </form>
        </div>
        {% endif %}
	</div>
</div>
{% endblock %}

{% block extra_script %}
{{ block.super }}
{% if request.user|portmap_modify_access %}
<script type="text/javascript">
    function confirm_status_change(port_id) {
     	var response = confirm('Are you sure you want to switch the status of this port?');
 		if (response) {
    		ajaxPost("{% url 'change_residence_halls_wired_port_status' %}", {"port_id": port_id}, function(response_context) {
	        	// Replace the edited columns with updated html
	        	columns = response_context["rendered_columns"]
	        	for (var column in columns) {
	        		$("[id='" + port_id + "'][column='" + column + "']").parent().html(columns[column]);
	        	}
	   		});
	   	} else {
	   		return false;
	   	}
	}

	$("#id_community").change(function () {
		ajaxPost("{% url 'ajax_update_building' %}", {'community': $(this).val()});
	});

	{% if form.building.value %}
	$(document).ready(function () {
		ajaxPost("{% url 'ajax_update_building' %}", {'community': '{{ form.community.value }}', 'building_selection': '{{ form.building.value }}'});
	});
	{% endif %}
</script>
{% endif %}
{% endblock %}