{% extends "base.html" %}

{% block meta %}
{{ block.super }}
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    // IP Address Filter for dataTables
    jQuery.fn.dataTableExt.aTypes.unshift(
        function ( sData )
        {
            if (/^\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b$/.test(sData)) {
                return 'ip-address';
            }
            return null;
        }
    );

    function confirm_status_change(port_id) {
		var response = confirm('Are you sure you want to switch the status of this port?'); 
		if (response) {
   			Dajaxice.resnet_internal.portmap.change_port_status(Dajax.process, {'port_id': port_id});
		} else {
    		return false;
		}
	}

    var residence_halls_wired_port_map;

    // initialize the dataTable
    $(document).ready(function() {    	
        // Initialize the DataTable. See datatables documentation for information about each option
        residence_halls_wired_port_map = $('#residence_halls_wired_port_map').dataTable( {
            "aaSorting": [[ 1, "asc" ], [ 2, "asc" ], [ 3, "asc" ]],
            "oLanguage": {
                "sLengthMenu": 'Display <select>'+
                    '<option value="50">50</option>'+
                    '<option value="100">100</option>'+
                    '<option value="250">250</option>'+
                    '<option value="500">500</option>'+
                    '<option value="1000">1000</option>'+
                    '<option value="-1">All</option>'+
                    '</select> records:',
                "sSearch": "Filter records (use ?<i>alias</i> to search RMS):",
                "sZeroRecords": "No records to display."
            },
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{% url 'populate_residence_halls_wired_ports' %}",
            "iDisplayLength": 50,
            "sPaginationType": "full_numbers",
            "bLengthChange": true,
            "bAutoWidth": false,
            "sDom": '<lrf><"clear">t<ip><"clear">',
            // Custom column rendering
            "aoColumnDefs": [
                { "sClass": "width0","bSearchable": false, "bVisible": false, "aTargets": [ 0 ] },
                { "sClass": "width100", "sType": "string", "aTargets": [ 1 ] },
                { "sClass": "width100", "sType": "string", "aTargets": [ 2 ] },
                { "sClass": "width50", "sType": "string", "aTargets": [ 3 ] },
                { "sClass": "width150", "sType": "ip-address", "aTargets": [ 4 ] },
                { "sClass": "width100", "sType": "string", "aTargets": [ 5 ] },
                { "sClass": "width50", "sType": "string", "aTargets": [ 6 ] },
                { "sClass": "width50", "sType": "numeric", "aTargets": [ 7 ] },
                { "sClass": "width50", "sType": "numeric", "aTargets": [ 8 ] },
                { "sClass": "edit_trigger width55", "sType": "numeric", "aTargets": [ 9 ] },
                { "sClass": "width50", "sType": "string", "aTargets": [ 10 ] },
            ],
        });

        $(document).on("click", ".edit_trigger", function() {
            row_id = $(this).children("div").attr("id");
            editable_columns = $("#"+ row_id + ".editable");

            editable_columns.children(".display_data").hide(); // Hide the display field
            editable_columns.children(".editbox").show(); // Show the edit field

            $(".editbox").change(function() {
                request_dict = {};
                row_zero = $("#" + row_id + ":eq(0)").text();

                // Generate a request string
                editable_columns.children(".editbox").each(function () {
                    column_name = $(this).parent().attr("column");
                    value = $(this).val();

                    // Validate each field as it comes through
                    if (value != null || value.length > 0) {
                        request_dict[column_name] = $(this).val();
                    }
                    else {
                        alert('Please fill all editable fields with data.');
                        return false;
                    }
                });

                // Send the data
                Dajaxice.resnet_internal.portmap.modify_port(Dajax.process, {"request_dict": request_dict, "row_id": row_id, "row_zero": row_zero, "username": '{{ request.user.username }}'});
            });

            // Edit input box click action
            $(".editbox").mouseup(function() {
                return false;
            });

            // Outside click action
            $(document).mouseup(function() {
                $(".editbox").hide();
                $(".display_data").show();
            });
        });
    });
</script>
{% endblock %}

{% block subtitle %} | Residence Halls Wired Port Map{% endblock %}

{% block content %}
<div id="content-2col">
	<div id="content">
		<div id="splashOuter">
			<!--<div id="splash"></div>-->
		</div>
		<div id="topContent">
			<h1>Residence Halls Wired Port Map</h1>
		</div>
		<div class="clear"></div>
		<table id="residence_halls_wired_port_map">
			<thead>
				<tr>
					<th>ID</th>
					<th>Community</th>
					<th>Building</th>
					<th>Room</th>
					<th>Switch IP</th>
					<th>Switch Name</th>
					<th>Jack</th>
					<th>Blade</th>
					<th>Port</th>
					<th>vLan</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}