{% extends 'jfu/upload_form.html' %}

{% block JS_OPTS %}
{{ block.super }},
autoUpload: true,
maxFileSize: 20000000,
always: function(e, data) { 
    if (data.textStatus === 'success') {
        attachments.push(data.result.files[0].cacheKey);
        attachment_details.push(data.result.files[0]);
    }
},
dropZone: null,
{% endblock %}

{% block JS_INIT %}
{{ block.super }}
    // Load existing attachments if any.
    if (attachment_details.length) {
        $('#fileupload').fileupload('option', 'done').call($('#fileupload'), $.Event('done'), {result: {files: attachment_details}});
    }
    $('#fileupload').bind('fileuploaddestroy', function (e, data) {
        for (var i=0; i < attachment_details.length; ++i) {
            if (attachment_details[i].deleteUrl === data.url) {
                attachment_details.splice(i,1);
                attachments.splice(i,1);
                break;
            }
        }
    });
{% endblock %}

{% block CSS_BOOTSTRAP %}
    {% comment %}
    This is already included.
    {% endcomment %}
{% endblock %}

{% block JS_JQUERY %}
    {% comment %}
    This is already included.
    {% endcomment %}
{% endblock %}

{% block JS_BOOTSTRAP %}
    {% comment %}
    This is already included.
    {% endcomment %}
{% endblock %}