{% extends "base_frame.html" %}
{% load core_filters %}
{% block subtitle %} | Email{% endblock %}

{% block content %}
    {% if message %}
    <h1>{{ message.subject }}</h1>
        <h3>{{ message.from }}</h3>

        <p><strong>To:</strong> {{ message.to }}
            {% if message.cc %}<br /><strong>CC:</strong> {{ message.cc }}{% endif %}
            <br /><strong>Date:</strong> {{ message.date }}
            <br /><strong>Reply To:</strong> {{ message.reply_to }}
            {% if message.attachments %}<br /><strong>Attachments:</strong>
                {% for attachment in message.attachments %}
                    <a href="{{ attachment.url }}" target="_blank">
                        <img style="display: inline-block" src="{{ attachment.icon }}" />
                        {{ attachment.filename }} ({{ attachment.size|filesizeformat }})
                    </a>
                {% endfor %}
            {% endif %}
        </p>
        {% if message.is_html %}
            <script language="javascript" type="text/javascript">
                function resize_iframe(iframe) {
                    iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
                  }
            </script>
            <iframe id="email_body" frameborder="0" srcdoc="{{ message.body_html }}" width="100%" onload="resize_iframe(this)"></iframe>
        {% else %}
            <p>{{ message.body_plain_text|linebreaksbr }}</p>
        {% endif %}
    {% else %}
        <p>Could not retrieve email.</p>
    {% endif %}
{% endblock %}
