{% extends "base.html" %}
{% load staticfiles %}

{% block subtitle %} | Email{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.rawgit.com/orangehill/jstree-bootstrap-theme/16bbc350e6a37b3cfedcb96aac9fa9926e2e3e46/dist/themes/proton/style.min.css" />       
{% endblock %}

{% block main %}
{{ block.super }}
<div class="col-lg-3 col-md-4 col-xs-12" style="overflow: hidden;">
    <div id="jstree_folder_structure"></div>
</div>
<div class="col-lg-9 col-md-8 col-xs-12">
    <div id="toolbar" class="row">
        <div id="buttons" class="btn-toolbar col-lg-8 col-md-12 col-xs-12">
            <div class="btn-group btn-group-md">
                <button class="btn btn-primary" onclick="openModalFrame('Compose Email', '{% url 'email_compose' %}');">
                    New
                </button>
                <button class="btn btn-primary" onclick="$('input:checkbox').prop('checked', true);">Check All</button>
                <button class="btn btn-primary" onclick="$('input:checkbox').prop('checked', false);">Uncheck All</button>
                <button class="btn btn-primary" onclick="refresh_messages('INBOX');" id="refresh_button">Refresh</button>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" id="archive_button" title="Archive To:" data-toggle="dropdown">
                       Archive <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for folder, display_name in archive_folders %}
                            <li> 
                                <a id='{{ folder }}' onclick='$(&quot;#archive_button&quot;).popover(&quot;hide&quot;);archive_selected(&quot;{{ folder }}&quot;);'>
                                    {{ display_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <button class="btn btn-primary" onclick="mark_selected_unread();">Mark Unread</button>
                <button class="btn btn-primary" onclick="mark_selected_read();">Mark Read</button>
            </div>
        </div>
        <div id="search" class="col-lg-4 col-md-12 col-xs-12">
            <div class="input-group input-group-md">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                <div class="input-group-addon">
                    <input type="radio" name="options" id="search_this_mailbox" autocomplete="off" checked> This Mailbox
                    <input type="radio" name="options" id="search_all_mailboxes" autocomplete="off"> All
                </div>
                <input type="text" class="form-control" id="email_search" placeholder="Search...">
                <div class="input-group-addon">
                    <span id="email_search_clear" class="glyphicon glyphicon-remove-circle"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <table class="table table-hover" id='email_table'>
                <tbody>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Date</th>
                            <th>From</th>
                            <th>Subject</th>
                            <th id="mailbox_name_header" style="display: none">Mailbox</th>
                        </tr>
                        <tr id="loading_email_record"><td colspan="100" style="text-align: center;"><br /><strong>Loading...</strong></td></tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script type="text/javascript">
    var current_mailbox = 'INBOX';
    var num_search_queries_running = 0;
    
    $(document).ready(function() {
            $('#jstree_folder_structure')
            .on('select_node.jstree', function(event, data) {
                refresh_messages(data.node.id);
            })
            .jstree({
                'core': {
                    'data': {
                        'url': "{% url 'email_get_folders' %}",
                        'data': function(node) {
                            return { 'id': node.text };
                        }
                    },
                    'themes': {
                        'name': 'proton',
                        'responsive': true
                    }
                }
            });
            
            $('#email_search').keyup(_.debounce(search_messages, 1000));
            $('#email_search_clear').click(function() {
                $('#email_search').val('');
                search_messages();
            });
            refresh_messages('INBOX');
    });

    function get_selected_emails() {
        var rows = new Array();
        $('#email_table tr').filter(':has(:checkbox:checked)').each(function() {
            rows.push(this.id);
        });

        return rows;
    };

    function set_spinner_status(emails, status) {
        for (index = 0; index < emails.length; ++index) {
            var checkbox = document.getElementById('checkbox_' + emails[index]);
            checkbox.style.display = status ? 'none' : 'inline';
            
            var spinner = document.getElementById('spinner_' + emails[index]); 
            spinner.style.display = status ? 'inline' : 'none';
        };
    };

    function refresh_messages(mailbox) {
        $('#email_search').val('');
        retrieve_messages(mailbox, '');
    };
    
    function search_messages() {
        var search_string = $('#email_search').val();
        var search_this_mailbox = $('#search_this_mailbox').is(":checked");
        if (!search_string.length) search_this_mailbox = true;
        retrieve_messages(search_this_mailbox ? current_mailbox : '', search_string);
    };
    
    function retrieve_messages(mailbox, search_string) {
        ++num_search_queries_running;
        current_mailbox = mailbox;
        $("#email_table tr:gt(0)").remove();
        $("#email_table").append('<tr id="loading_email_record"><td colspan="100" style="text-align: center;"><br /><strong>Loading...</strong></td></tr>');
        ajaxPost("{% url 'email_get_mailbox_summary' %}", {"mailbox": mailbox, "search_string": search_string}, function(response_context) {
            if (!(--num_search_queries_running)) {
                $('#mailbox_name_header').css('display', (mailbox.length > 0 ? 'none' : 'table-cell'));
                $('#loading_email_record').replaceWith(response_context.response);
                $("#refresh_button").attr("onclick","refresh_messages('" + mailbox + "');");
            }
        });
    };

    function array_to_ajax(array, prefix) {
        var ajax_dict = {};
        for (index = 0; index < array.length; ++index) {
            ajax_dict[prefix + index.toString()] = array[index];
        };

        return ajax_dict;
    };

    function archive_selected(destination_folder) {
        var selected_messages = get_selected_emails();
        set_spinner_status(selected_messages, true);

        var post_data = array_to_ajax(selected_messages, 'message');
        post_data['destination_folder'] = destination_folder;

        ajaxPost("{% url 'email_archive' %}", post_data, function(response_context) {
            for (index = 0; index < selected_messages.length; ++index) {
                $(document.getElementById(selected_messages[index])).remove();
            };  
        });
    };

    function mark_selected_unread() {
        var selected_messages = get_selected_emails();
        set_spinner_status(selected_messages, true);
        ajaxPost("{% url 'email_mark_unread' %}", array_to_ajax(selected_messages, 'message'), function(response_context) {
            for (index = 0; index < selected_messages.length; ++index) {
                $(document.getElementById(selected_messages[index])).addClass('bg-info');
            };
            set_spinner_status(selected_messages, false);
        });
    };

    function mark_selected_read() {
        var selected_messages = get_selected_emails();
        set_spinner_status(selected_messages, true);
        ajaxPost("{% url 'email_mark_read' %}", array_to_ajax(selected_messages, 'message'), function(response_context) {
            for (index = 0; index < selected_messages.length; ++index) {
                $(document.getElementById(selected_messages[index])).removeClass('bg-info');
            };
            set_spinner_status(selected_messages, false);
        });
    };

    function remove_voicemail(message_uid)  {
        // Cannot use JQuery here: $ signs and other character in UUID break the query
        var archive_link = document.getElementById('archive_' + message_uid);
        archive_link.style.display = 'none';
        
        var spinner = document.getElementById('spinner_' + message_uid);
        spinner.style.display = 'block';
        
        ajaxPost("{% url 'remove_voicemail' %}", {"message_uid": message_uid}, function(response_context) {
            var row = document.getElementById('voicemail_' + message_uid);
            row.parentNode.removeChild(row);
        });
    };
</script>
{% endblock %}