{% extends "base.html" %}
{% load core_user_tests %}
{% load staticfiles %}

{% block subtitle %} | Email{% endblock %}

{% block content %}
    <div id="content">
        <h1>ResNet Email Messages</h1>
        <table>
            <tr>
                <td style="max-width: 33%;">Folder Structure Here</td>
                <td>
                <table class="dataTable">
                    <tbody>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">From</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Unread</th>
                        </tr>
                        {% if emails %}
                            {% for email in emails %}
                            <tr id="voicemail_{{ voicemail.message_uuid }}">
                                <td>{{ email.date }}</td>
                                <td>{{ email.from_name }} &lt;{{email.from_address }}&gt;</td>
                                <td>{{ email.subject }}</td>
                                <td>{{ email.unread }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4" style="text-align: center;">There are currently no emails in this mailbox.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                </td>
            </tr>
        </table>
    </div>

    {% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        function remove_voicemail(message_uuid)  {
            // Cannot use JQuery here: $ signs and other character in UUID break the query
            var archive_link = document.getElementById('archive_' + message_uuid);
            archive_link.style.display = 'none';
            
            var spinner = document.getElementById('spinner_' + message_uuid); 
            spinner.style.display = 'block';
            
            ajaxPost("{% url 'remove_voicemail' %}", {"message_uuid": message_uuid}, function(response_context) {
                var row = document.getElementById('voicemail_' + message_uuid);
                row.parentNode.removeChild(row);
            });
        }
    </script>
    {% endblock %}
{% endblock %}