{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="Cal Poly Web Template" />
        <meta name="author" content="Alex Kavanaugh - ResNet Development Team" />
        <meta name="keywords" content="Resnet Internal" />
        <meta name="description" content="Residential Networking Services Internal Tools" />
        
        <link href="{% static 'css/jqueryui/jqueryui-1.8.22.cp.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'fancybox/jquery.fancybox.css' %}?v=2.1.5" rel="stylesheet" type="text/css" media="screen" />
        <link href="{% static 'images/icons/favicon.ico' %}" rel="shortcut icon" />
        
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'fancybox/jquery.fancybox.pack.js' %}?v=2.1.5"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% block meta %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    
    {% block body %}
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block extra_script %}
        {% endblock %}
    </body> 
    {% endblock %}
    
</html>