{% extends "base.html" %}
{% load core_user_tests %}
{% load staticfiles %}

{% block subtitle %} | Email{% endblock %}

{% block meta %}
<script src="{% static 'js/jstree.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jstree.css' %}" />
{% endblock %}

{% block content %}
    <div id="content">
        <h1>ResNet Email Messages</h1>
        <table>
            <tr>
                <td style="vertical-align: top;">
                    <div id="jstree_folder_structure"></div>
                </td>
                <td style="vertical-align: top; width: 75%;" >
                <table class="dataTable" id='email_table'>
                    <tbody>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">From</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Unread</th>
                        </tr>
                        <tr id="loading_email_record"><td colspan="4" style="text-align: center;"><br /><strong>Loading...</strong></td></tr>
                    </tbody>
                </table>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
            $('#jstree_folder_structure')
            .on('select_node.jstree', function(event, data) {
                $("#email_table tr:gt(0)").remove();
                $("#email_table").append('<tr id="loading_email_record"><td colspan="4" style="text-align: center;"><br /><strong>Loading...</strong></td></tr>');
                ajaxPost("{% url 'email_get_mailbox_summary' %}", {"mailbox": data.node.text});
            })
            .jstree({
                'core': {
                    'data': {
                        'url': "{% url 'email_get_folders' %}",
                        'data': function(node) {
                            return { 'id': node.text };
                        }
                    }
                }
            });
            ajaxPost("{% url 'email_get_mailbox_summary' %}", {"mailbox": 'INBOX'});
    });
    function remove_voicemail(message_uid)  {
        // Cannot use JQuery here: $ signs and other character in UUID break the query
        var archive_link = document.getElementById('archive_' + message_uid);
        archive_link.style.display = 'none';
        
        var spinner = document.getElementById('spinner_' + message_uid); 
        spinner.style.display = 'block';
        
        ajaxPost("{% url 'remove_voicemail' %}", {"message_uid": message_uid}, function(response_context) {
            var row = document.getElementById('voicemail_' + message_uid);
            row.parentNode.removeChild(row);
        });
    }
</script>
{% endblock %}