{% extends "base_frame.html" %}
{% load core_user_tests %}

{% block subtitle %} | ResNet Voicemail Messages{% endblock %}

{% block content %}
    <h1>ResNet Voicemail Messages</h1>

    <table class="dataTable">
        <tbody>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Sender</th>
                <th scope="col">Play Voicemail</th>
                <th scope="col">Archive</th>
            </tr>
            {% if voicemails %}
                {% for voicemail in voicemails %}
                <tr id="voicemail_{{ voicemail.uuid }}">
                    <td>{{ voicemail.date }}</td>
                    <td>{{ voicemail.sender }}</td>
                    <td><audio controls autobuffer preload='none'><source src="{% url 'voicemail_attachment_request' voicemail.uuid %}" type='audio/wav'/><p>Please use any browser other than IE.</p></audio></td>
                    <td>{% if request.user|technician_access %}<a style="color:red; cursor:pointer;" onclick="remove_voicemail('{{ voicemail.uuid }}'); var spinner = document.getElementById('spinner_' + '{{ voicemail.uuid }}'); spinner.style.display = 'inline';">Archive</a>
                        <div id="spinner_{{ voicemail.uuid }}" class="spinner" style="display:none;">
                            <img id="img-spinner" src="/static/images/spinner.gif" alt="Loading"/ height="15">
                        </div>{% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="6">There are not currently any voicemails.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

{% block extra_script %}
{{ block.super }}
<script type="text/javascript">
    function remove_voicemail(uuid)  {
        ajaxPost("{% url 'remove_voicemail' %}", {"uuid": uuid}, function(response_context) {
            var row = document.getElementById('voicemail_' + uuid.toString());
            row.parentNode.removeChild(row);
        });
    }
</script>
{% endblock %}
{% endblock %}