{% extends "base_frame.html" %}
{% load core_user_tests %}
{% load staticfiles %}

{% block subtitle %} | ResNet Voicemail Messages{% endblock %}

{% block content %}
    <h1>ResNet Voicemail Messages</h1>

    <table class="dataTable">
        <tbody>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Sender</th>
                <th scope="col">Play Voicemail</th>
                <th scope="col">Archive</th>
            </tr>
            {% if voicemails %}
                {% for voicemail in voicemails %}
                <tr id="voicemail_{{ voicemail.message_uuid }}">
                    <td>{{ voicemail.date }}</td>
                    <td>{{ voicemail.sender }}</td>
                    <td><audio controls autobuffer preload='none'><source src="{% url 'voicemail_attachment_request' voicemail.message_uuid %}" type='audio/wav'/><p>Please use any browser other than IE.</p></audio></td>
                    <td>{% if request.user|technician_access %}<a id="archive_{{ voicemail.message_uuid }}" style="color:red; cursor:pointer;" onclick="remove_voicemail('{{ voicemail.message_uuid }}');">Archive</a>
                        <div id="spinner_{{ voicemail.message_uuid }}" class="spinner" style="display:none;">
                            <img id="img-spinner" src="{% static 'images/spinner.gif' %}" alt="Loading" height="15" />
                        </div>{% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="4" style="text-align: center;">There are not currently any voicemails.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    {% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        function remove_voicemail(message_uuid)  {
            //Cannot use JQuery here: $ signs and other character in UUID break the query
            var archive_link = document.getElementById('archive_' + message_uuid);
            archive_link.style.display = 'none';
            
            var spinner = document.getElementById('spinner_' + message_uuid); 
            spinner.style.display = 'block';
            
            ajaxPost("{% url 'remove_voicemail' %}", {"message_uuid": message_uuid}, function(response_context) {
                var row = document.getElementById('voicemail_' + message_uuid);
                row.parentNode.removeChild(row);
            });
        }
    </script>
    {% endblock %}
{% endblock %}