{% extends "base.html" %}
{% load core_user_tests %}
{% load datatables %}

{% load crispy_forms_tags %}

{% block subtitle %} | Computers{% endblock %}

{% block main %}
    <div class="col-xs-12">
        <div class="page-header">
            <h2>Computers</h2>
        </div>
    </div>

    {% if form.errors %}
    <div class="col-xs-12">
        <div class="bs-callout bs-callout-danger">
            <h4>Form Error</h4>
            The computer could not be added. Refer to the form below for details.
        </div>
    </div>
    {% endif %}

    <div class="col-xs-12">
        <table id="computer_index"></table>
    </div>

    {% if request.user|computers_modify_access %}
    <div class="col-xs-12">
        {% crispy form %}
    </div>
    {% endif %}
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    {% datatables_script %}
    
    {% if request.user|computers_modify_access %}
    <script type="text/javascript">
        function confirm_remove(computer_id) {
            var response = confirm('Are you sure you want to delete this computer?');
            if (response) {
                ajaxPost("{% url 'remove_computer' %}", {"computer_id": computer_id}, function(response_context) {
                    if (response_context["success"]) {
                        $("#"+ computer_id).closest("tr").remove();
                        return true;
                    }
                    else {
                        alert(response_context["error_message"]);
                        return false;
                    }
                });
            } else {
                return false;
            }
        }
        
        $(document).ready(function() {
            $('.dateinput').datepicker({
                dateFormat: 'yy-mm-dd',
            });
            
            $(".ip_address_field").before('<input type="radio" name="dhcp" value="static" checked>&nbsp;Static&nbsp;<input type="radio" name="dhcp" value="dynamic">&nbsp;Dynamic');

            $('input[type=radio][name=dhcp]').change(function() {
                if (this.value == 'static') {
                    $(this).siblings(".ip_address_field").show();
                }
                else {
                    $(this).siblings(".ip_address_field").hide();
                    $(this).siblings(".ip_address_field").val("");
                }
            });
        });
    </script>
    {% endif %}
{% endblock %}
