{% extends "base_frame.html" %}

{% block meta %}
    {{ block.super }}
    <style type="text/css">
        table th {
            cursor: auto !important;
        }
        .add_link {
            cursor: pointer;
            float: left;
            font-weight:bolder;
            color: rgb(33,94,152) !important;
            text-decoration: none !important;
            margin-top: 7px;
        }
        .add_link:hover {
            color: rgb(39,112,180) !important;
        }
    </style>
{% endblock %}

{% block subtitle %} | University Housing Computer Record{% endblock %}

{% block content %}
    <h1>Association Record for {{ ip_address }}</h1>
    <br />
    <h2 style="float: left;">Pinholes&nbsp;&nbsp;</h2><a class="add_link" href="{% url 'pinhole_request' ip_address=ip_address %}">+Add Pinhole</a>
    <table class="dataTable">
        <tbody>
            <tr>
                <th scope="col" width="15%">Service Name</th>
                <th scope="col" width="12.5%">Inner FW?</th>
                <th scope="col" width="12.5%">Border FW?</th>
                <th scope="col" width="20%">TCP Ports</th>
                <th scope="col" width="20%">UDP Ports</th>
                <th scope="col" width="10%">SR Number</th>
                <th scope="col" width="10%">&nbsp;</th>
            </tr>
            {% if pinholes %}
                {% for pinhole in pinholes %}
                <tr>
                    <td>{{ pinhole.service_name }}</td>
                    <td>{{ pinhole.inner_fw }}</td>
                    <td>{{ pinhole.border_fw }}</td>
                    <td>
                        {% for port in pinhole.tcp_ports %}
                            {{ port }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for port in pinhole.udp_ports %}
                            {{ port }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ pinhole.sr_number }}</td>
                    <td><a style="color:red; cursor:pointer;" onclick="Dajaxice.resnet_internal.computers.remove_pinhole(Dajax.process,{'pinhole_id':'{{ pinhole.id }}'})">Remove</a></td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="6">There are no pinholes associated with this IP address.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="clear"></div>
    <h2>DNS Record (A)</h2>
    <table class="dataTable">
        <tbody>
            <tr>
                <th scope="col">DNS Record</th>
            </tr>
            <tr>
                <td>{{ dns_record }}</td>
            </tr>
        </tbody>
    </table>
    <div class="clear"></div>
    <h2 style="float: left;">Domain Names (CNAME)&nbsp;&nbsp;</h2><a class="add_link" href="{% url 'domain_name_request' ip_address=ip_address %}">+Add Domain Name</a>
    <table class="dataTable">
        <tbody>
            <tr>
                <th scope="col" width="80%">Domain Name</th>
                <th scope="col" width="10%">SR Number</th>
                <th scope="col" width="10%">&nbsp;</th>
            </tr>
            {% if domain_names %}
                {% for domain_name in domain_names %}
                <tr>
                    <td>{{ domain_name.domain_name }}</td>
                    <td>{{ domain_name.sr_number }}</td>
                    <td><a style="color:red; cursor:pointer;" onclick="Dajaxice.resnet_internal.computers.remove_domain_name(Dajax.process,{'domain_name_id':'{{ domain_name.id }}'})">Remove</a></td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="2">There are no domain names associated with this IP Address.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}