<!DOCTYPE html>
{% load core_user_tests %}
{% load compile_static %}
{% load staticfiles %}
{% load clever_selects_extras %}
<html>
    <head>
        <meta charset="UTF-8">

        <meta property="og:image" content="https://webresource.its.calpoly.edu/cpwebtemplate/5.0.1/common/images_html/header/cp_logo.jpg" itemprop="thumbnailUrl">
        <meta property="og:title" content="University Housing Internal">
        <meta property="og:url" content="https://internal.housing.calpoly.edu">
        <meta property="og:site_name" content="University Housing Internal">

        <meta name="author" content="ResNet Development Team">
        <meta name="keywords" content="University Housing Internal">
        <meta name="description" content="University Housing Internal Tools and Services">

        <link rel="shortcut icon" href="http://calpoly.edu/favicon.ico">

        <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

        <link rel='stylesheet prefetch' href='https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css'>
        <link rel='stylesheet prefetch' href='https://cdn.datatables.net/responsive/2.0.0/css/responsive.bootstrap.min.css'>
        <link rel='stylesheet prefetch' href='https://cdn.datatables.net/scroller/1.4.0/css/scroller.bootstrap.min.css'>
        
        <link rel="stylesheet prefetch" href="{% compile 'less/base.less' %}?version=1.0">

        {% block meta %}{% endblock %}

        <title>University Housing Internal{% block subtitle %}{% endblock %}</title>
    </head>
    <body>
        {% block container %}
        <div class="container-fluid">
            <header class="row">
                <div class="col-xs-12 logo-container">
                    <a href="http://www.calpoly.edu">
                        <img id="logo" src="https://webresource.its.calpoly.edu/cpwebtemplate/5.0.1/common/images_html/header/cp_logo.jpg" height="65px" alt="Cal Poly, San Luis Obispo" />
                    </a>
                    <h1 class="site-heading">
                            University Housing Internal
                       </h1>
                </div>
            </header>
            <div class="row">
                <noscript><div id="noscript-padding"></div></noscript>
            </div>
            <div class="row" id="content">
                <div id="nav-wrapper">
                    <nav>
                        <div class="text-center nav-heading" id="drawer-trigger">
                            <h4>Navigation&nbsp;<span class="glyphicon" aria-hidden="true"></span></h4>
                        </div>
                        <div id="drawer">
                            {{ navbar|safe }}
                        </div>
                    </nav>
                </div>
                <main class="container-fluid">
                    {% block main %}
                    {% endblock %}
                </main>
            </div>
        </div>
        {% endblock %}
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

        <script src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
        
        <script type="text/javascript">
            // Nav javascript
            $("#drawer").collapse();
            
            $("#drawer-trigger").on("click", function() {
                if (window.innerWidth < 615) {
                    $("#drawer").collapse("toggle");
                }
            });
            
            $(window).on("load resize", function() {
                if (window.innerWidth < 615) {
                    $("#drawer").collapse("hide");
                } else {
                    $("#drawer").collapse("show");
                }
            });
            
            $('#drawer').on('hidden.bs.collapse', function() {
                $("#drawer-trigger .glyphicon").removeClass("glyphicon-menu-up");
                $("#drawer-trigger .glyphicon").addClass("glyphicon-menu-down");
            });
            
            $('#drawer').on('shown.bs.collapse', function() {
                $("#drawer-trigger .glyphicon").removeClass("glyphicon-menu-down");
            
                if (window.innerWidth < 615) {
                    $("#drawer-trigger .glyphicon").addClass("glyphicon-menu-up");
                } else {
                    $("#drawer-trigger .glyphicon").removeClass("glyphicon-menu-up");
                }
            });
            
            $(window).on("load", function() {
                $(".collapsable-trigger .glyphicon").addClass("glyphicon-menu-down");
            });
            
            $(".collapsable").on('hidden.bs.collapse', function(event) {
                var trigger_id = $(event.target).attr("id").replace("_list", "_link");
                $('#' + trigger_id + ' .glyphicon').removeClass("glyphicon-menu-up");
                $('#' + trigger_id + ' .glyphicon').addClass("glyphicon-menu-down");
            });
            
            $(".collapsable").on('shown.bs.collapse', function(event) {
                var trigger_id = $(event.target).attr("id").replace("_list", "_link");
                $('#' + trigger_id + ' .glyphicon').removeClass("glyphicon-menu-down");
                $('#' + trigger_id + ' .glyphicon').addClass("glyphicon-menu-up");
            });

            // Daily duties
            {% if request.user.is_authenticated %}
                function add_duties() {
                    var duties_links = ['email_link', 'ticket_manager_link', 'voicemail_link', 'printer_requests_link'];
                    var duties_titles = ['Email', 'Tickets', 'Voicemail', 'Printer Requests'];
                    
                    for (var i=0; i < duties_links.length; ++i) {
                        var link = $('#' + duties_links[i]);
                        link.attr('title', duties_titles[i]);
                        link.attr('data-content', 'Loading...');
                        link.attr('data-toggle', 'popover');
                        link.attr('data-trigger', 'hover');
                    }
                    
                    $('[data-toggle="popover"]').popover({
                        html: true,
                    });
                };
                function refreshDuties() {
                    ajaxGet("{% url 'daily_duties_refresh_duties' %}", function(response_context) {
                        $("#email_link").attr('data-content', response_context.email_content);
                        $("#ticket_manager_link").attr('data-content', response_context.tickets_content);
                        $("#voicemail_link").attr('data-content', response_context.voicemail_content);
                        $("#printer_requests_link").attr('data-content', response_context.printer_requests_content);
                    });
                };
                function updateEmail() {
                    updateDuty('email', '{% url 'email_list' %}', '_self');
                };
                function updateVoicemail() {
                    updateDuty('voicemail', '{% url 'voicemail_list' %}', '_self');
                };
                function updatePrinterRequests() {
                    updateDuty('printerrequests', '{% url 'printer_request_list' %}', '_self');
                };
                function updateTickets() {
                    updateDuty('tickets', 'https://calpoly.enterprisewizard.com/gui2/cas-login?KB=calpoly2&state=Main', '_blank');
                };
                function updateDuty(duty, redirect_url, target) {
                    if (target === '_blank') {  // Popup-Blocking Workaround
                        window.open(redirect_url, target);
                    }
                    ajaxPost("{% url 'daily_duties_update_duty' %}", {"duty": duty}, function(response_context) {
                        if (redirect_url && target !== '_blank') {
                            window.open(redirect_url, target);
                        }
                        else {
                            refreshDuties();
                        }
                    });
                };
                
                $(document).ready(function() {
                    add_duties();
                    refreshDuties();
                });
            {% endif %}
        </script>
        <noscript>
            <div id="noscript-warning">Many features of this website require that JavaScript be enabled. Please do so.</div>
        </noscript>
        {% clever_selects_js_import %}
        {% block extra_script %}
        {% endblock %}
    </body>
</html>
