<!DOCTYPE html>
{% load core_user_tests %}
{% load staticfiles %}
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<meta name="layout" content="Cal Poly Web Template" />
    	<meta name="author" content="Alex Kavanaugh - ResNet Development Team" />
    	<meta name="keywords" content="Resnet Internal" />
    	<meta name="description" content="Residential Networking Services Internal Tools" />
    	<link href="{% static 'css/jqueryui/jqueryui-1.8.22.cp.css' %}" rel="stylesheet" type="text/css" />
    	<link href="{% static 'common/css/cp_screen_3.4.css' %}" rel="stylesheet" type="text/css" media="screen" />
    	<link href="{% static 'common/css/cp_print_3.4.css' %}" rel="stylesheet" type="text/css" media="print" />
    	<link href="{% static 'css/screen.css' %}" rel="stylesheet" type="text/css" media="screen,print" />
    	<link href="{% static 'css/print.css' %}" rel="stylesheet" type="text/css" media="print" />
    	<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" media="screen,print" />
    	<link href="{% static 'fancybox/jquery.fancybox.css' %}?v=2.1.5" rel="stylesheet" type="text/css" media="screen" />
    	<link href="{% static 'images/icons/favicon.ico' %}" rel="shortcut icon" />
    	<link href="{% static 'css/bootstrap_tooltip.css' %}" rel="stylesheet" type="text/css" />
    	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    	<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'fancybox/jquery.fancybox.pack.js' %}?v=2.1.5"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    	{% block meta %}
    	{% endblock %}
    	<script type="text/javascript">
            $(document).ready(function() {
                $(".popup_frame").fancybox({
                    type: 'iframe',
                    maxWidth    : 800,
                    maxHeight   : 600,
                    fitToView   : false,
                    width       : '70%',
                    height      : '70%',
                    autoSize    : false,
                    closeClick  : false,
                    openEffect  : 'none',
                    closeEffect : 'none',
                });
                $('[data-toggle="popover"]').popover({
                    html: true,
                });
            });
        </script>
    	<title>ResNet Internal - Online Tools{% block subtitle %}{% endblock %}</title>
    </head>
    {% block body %}
    <body>
        <noscript><div id="noscript-padding"></div></noscript>
        <div id="container">
            <div id="header">
                <div id="cplogo">
                    <a href="http://www.calpoly.edu/"><img src="{% static 'common/images/header/cp_logo.gif' %}" alt="Cal Poly" title="Go to Cal Poly Home" width="166" height="60" /></a>
                </div>
                <div id="headercontent">
                    <a href="https://resnet.calpoly.edu"><img src="{% static 'images/resnetlogo.png' %}" alt="ResNet Logo" title="Go to the ResNet home page" id="headerimage" height="50" width="136.5" /></a>
                    <div id="deptname">
                        <p id="department_name">
                            Residential Networking Services
                        </p>
                        <p id="optional_deptinfo">
                            <a href="{% url 'home' %}">ResNet Online Tools</a><font color="red">&nbsp;&nbsp;Beta</font>
                        </p>
                    </div>
                </div>
                <!-- Begin Login Display Module -->
                {% if request.user.is_authenticated %} {# User is logged in - display user information. #}
                    <div class="loginDisplay">
                        You are logged in as <span style="color: #A1B39C">{{ user_display_name }}</span>
                        <br />
                        {# Display User Specializations #}
                        {% for title in user_specializations %}
                            {{ title }}{% if not forloop.last %},&nbsp;{% endif %}
                        {% endfor %}
                        <br />
                        (<a href="{% url 'logout' %}">Logout</a>)
                    </div>
                {% else %} {# User is not logged in - display log in link. #}
                    <div class="loginDisplay">
                            You are not currently logged in.
                            <br />
                            (<a href="{% url 'login' %}">Login</a>)
                    </div>
                {% endif %}
                <!-- End Login Display Module -->
                <div id="cp">
                    <p>
                        California Polytechnic State University
                    </p>
                </div>
            </div>
            {% block sidenav %}
            {% if request.user.is_authenticated and not request.user.is_new_tech %} {# User is logged in - display navigation bar. #}
            <!-- Begin Navigation Bar -->
            <div id="leftnav">
                <h1>Navigation</h1>
    			{{ navbar|safe }}
    		</div>
    		<!-- End Navigation Bar -->
    		{% endif %}
    		{% endblock %}
    		{% block content %}{% endblock %}
    		<div id="footer">
    			<div id="footer_links">
    				<p><a href="http://get.adobe.com/reader/" title="Download Adobe Reader for viewing PDFs">Get Adobe Reader</a></p>
    			</div>
    			<div id="footer_deptlinks">
    				<ul>
    					<li class="removeBullet">
    						<a href="https://housing.calpoly.edu">University Housing</a>
    					</li>
    					<li>
    						<a href="https://residentiallife.calpoly.edu">Residential Life &amp; Education</a>
    					</li>
    					<li>
    						<a href="https://resnet.calpoly.edu">Residential Networking Services</a>
    					</li>
    				</ul>
    				<img src="{% static 'images/django_logo_negative.png' %}" width="136px" height="60px" class="djangoLogo" />
    			</div>
    			<div id="footer_deptinfo">
    				<p>
    					ResNet Development Team
    					<br />
    					California Polytechnic State University
    					<br />
    					San Luis Obispo, CA 93401
    					<br />
    					<a href="mailto:resdev@calpoly.edu">resdev@calpoly.edu</a>
    				</p>
    			</div>
    		</div>
    	</div>
        <script type="text/javascript">
            {% if request.user.is_authenticated %}
                function add_duties() {
                    var duties_links = ['email_link', 'ticket_manager_link', 'voicemail_link', 'printer_requests_link'];
                    var duties_titles = ['Email', 'Tickets', 'Voicemail', 'Printer Requests'];
                    
                    for (var i=0; i < duties_links.length; ++i) {
                        var link = $('#' + duties_links[i]);
                        link.attr('title', duties_titles[i]);
                        link.attr('data-content', 'Loading...');
                        link.attr('data-toggle', 'popover');
                        link.attr('data-trigger', 'hover');
                    }
                    
                    $('[data-toggle="popover"]').popover({
                        html: true,
                    });
                };
                function refreshDuties() {
                    ajaxGet("{% url 'daily_duties_refresh_duties' %}", function(response_context) {
                        $("#email_link").attr('data-content', response_context.email_content);
                        $("#ticket_manager_link").attr('data-content', response_context.tickets_content);
                        $("#voicemail_link").attr('data-content', response_context.voicemail_content);
                        $("#printer_requests_link").attr('data-content', response_context.printer_requests_content);
                    });
                };
                function updateEmail() {
                    updateDuty('email', '{% url 'email_list' %}', '_self');
                };
                function updateVoicemail() {
                    updateDuty('voicemail', '{% url 'voicemail_list' %}', '_self');
                };
                function updatePrinterRequests() {
                    updateDuty('printerrequests', '{% url 'printer_request_list' %}', '_self');
                };
                function updateTickets() {
                    updateDuty('tickets', 'https://calpoly.enterprisewizard.com/gui2/cas-login?KB=calpoly2&state=Main', '_blank');
                };
                function updateDuty(duty, redirect_url, target) {
                    if (target === '_blank') {  // Popup-Blocking Workaround
                        window.open(redirect_url, target);
                    }
                    ajaxPost("{% url 'daily_duties_update_duty' %}", {"duty": duty}, function(response_context) {
                        if (redirect_url && target !== '_blank') {
                            window.open(redirect_url, target);
                        }
                        else {
                            refreshDuties();
                        }
                    });
                };
                
                $(document).ready(function() {
                    add_duties();
                    refreshDuties();
                });
            {% endif %}
        </script>
        <noscript>
            <div id="noscript-warning">Many features of this website require that JavaScript be enabled. Please do so.</div>
        </noscript>
        {% block extra_script %}
        {% endblock %}
    </body>
    {% endblock %}
</html>
