{% extends "base_frame.html" %}

{% block subtitle %} | Navigation Settings{% endblock %}

{% block content %}
    <h1>Navigation Settings</h1>
    <br />
    <div>
        <form method="post" id="nav_settings_form">
            <fieldset>
                <legend>
                    Link Handler Preferences
                </legend>
                {{ form.as_p }}
            </fieldset>
            <p>
                <input type="submit" value="Submit" />
            </p>
            {% csrf_token %}
        </form>
    <div class="clear"></div>
{% endblock %}