<!DOCTYPE html>
{% load dajaxice_templatetags %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="Cal Poly Web Template" />
        <meta name="author" content="Alex Kavanaugh - ResNet Development Team" />
        <meta name="keywords" content="Resnet Internal" />
        <meta name="description" content="Residential Networking Services Internal Tools" />
        <link href="{{STATIC_URL}}css/jqueryui/jqueryui-1.8.22.cp.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}common/css/cp_screen_3.4.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{STATIC_URL}}css/screen.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ STATIC_URL }}css/table.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{STATIC_URL}}images/icons/favicon.ico" rel="shortcut icon" />
        {% dajaxice_js_import %}
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.dajax.core.js"></script>
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
        {% block meta %}{% endblock %}
        <title>ResNet Internal - Online Tools{% block subtitle %}{% endblock %}</title>
    </head>
    <body style="background: none; background-color: rgb(253, 253, 253); min-width: 0; width: inherit;">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>