<!DOCTYPE html>
{% load dajaxice_templatetags %}
{% load url from future %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="layout" content="Cal Poly Web Template" />
		<meta name="author" content="Alex Kavanaugh - ResNet Development Team" />
		<meta name="keywords" content="Resnet Internal" />
		<meta name="description" content="Residential Networking Services Internal Tools" />
		<link href="{{ STATIC_URL }}css/jqueryui/jqueryui-1.8.22.cp.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}common/css/cp_screen_3.4.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="{{ STATIC_URL }}common/css/cp_print_3.4.css" rel="stylesheet" type="text/css" media="print" />
		<link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet" type="text/css" media="screen,print" />
		<link href="{{ STATIC_URL }}css/print.css" rel="stylesheet" type="text/css" media="print" />
		<link href="{{ STATIC_URL }}css/table.css" rel="stylesheet" type="text/css" media="screen,print" />
		<link href="{{ STATIC_URL }}fancybox/jquery.fancybox.css?v=2.1.5" rel="stylesheet" type="text/css" media="screen" />
		<link href="{{ STATIC_URL }}images/icons/favicon.ico" rel="shortcut icon" />
		<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
		{% dajaxice_js_import %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dajax.core.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
		<script type="text/javascript">
			function refreshDuties() {
				Dajaxice.resnet_internal.core.refresh_duties(Dajax.process);
			};
			function updateDuty(duty) {
				Dajaxice.resnet_internal.core.update_duty(Dajax.process,{'duty': duty});
				{% if request.user.is_authenticated %}refreshDuties();{% endif %}
				return true;
			};
		</script>
		{% block meta %}
		<script type="text/javascript">
            $(document).ready(function() {
                $(".popup_frame").fancybox({
                    type: 'iframe',
                    maxWidth    : 800,
                    maxHeight   : 600,
                    fitToView   : false,
                    width       : '70%',
                    height      : '70%',
                    autoSize    : false,
                    closeClick  : false,
                    openEffect  : 'none',
                    closeEffect : 'none',
                });
            });
        </script>
		{% endblock %}
		<title>ResNet Internal - Online Tools{% block subtitle %}{% endblock %}</title>
	</head>
	<body {% if request.user.is_authenticated %}onload="refreshDuties()"{% endif %}>
		<noscript><div id="noscript-padding"></div></noscript>
		<div id="container">
			<div id="header">
				<div id="cplogo">
					<a href="http://www.calpoly.edu/"><img src="{{ STATIC_URL }}common/images/header/cp_logo.gif" alt="Cal Poly" title="Go to Cal Poly Home" width="166" height="60" /></a>
				</div>
				<div id="headercontent">
					<a href="https://resnet.calpoly.edu"><img src="{{ STATIC_URL }}images/resnetlogo.png" alt="ResNet Logo" title="Go to the ResNet home page" id="headerimage" height="50" width="136.5" /></a>
					<div id="deptname">
						<p id="department_name">
							Residential Networking Services
						</p>
						<p id="optional_deptinfo">
							<a href="{% url 'home' %}">ResNet Online Tools</a><font color="red">&nbsp;&nbsp;RC Alpha 0.5</font>
						</p>
					</div>
				</div>
				<!-- Begin Login Display Module -->
				{% if request.user.is_authenticated %} {# User is logged in - display user information. #}
					<div class="loginDisplay">
						You are logged in as <span style="color: #A1B39C">{{ user_display_name }}</span>
						<br />
						{# Display User Specializations #}
						{% for title in user_specializations %}
							{{ title }}{% if not forloop.last %}, {% endif %}
						{% endfor %}
						<br />
						(<a href="{% url 'logout' %}">Logout</a>)
					</div>
				{% else %} {# User is not logged in - display log in link. #}
					<div class="loginDisplay">
							You are not currently logged in.
							<br />
							(<a href="{% url 'login' %}">Login</a>)
					</div>
				{% endif %}
				<!-- End Login Display Module -->
				<div id="cp">
					<p>
						California Polytechnic State University
					</p>
				</div>
			</div>
			{% if request.user.is_authenticated and not request.user.is_new_tech %} {# User is logged in - display navigation bar. #}
			<!-- Begin Navigation Bar -->
			<div id="leftnav">
				<h1>Navigation<a href='/settings/navigation/' class='popup_frame'><img src="{{ STATIC_URL }}images/icons/settings_cog.png" alt="Navigation Settings" align="top" width="16" height="16" border="0" style="padding-left: 5px;"/></a></h1>

				{% if request.user.is_developer or request.user.is_rn_staff or request.user.is_technician %}
				<h2>Technician Tools</h2>
				<ul>
					<li>
						<a href="/link_handler/portal/" class="handler_link"><img src="{{ STATIC_URL }}images/icons/calpoly.ico" alt="Cal Poly Portal" align="top" width="16" height="16" border="0" />My Cal Poly Portal</a>
					</li>
					<li>
						<a href="/link_handler/srs/" class="handler_link"><img src="{{ STATIC_URL }}images/icons/ticket.png" alt="SRS Ticket Manager" align="top" width="16" height="16" border="0" />SRS Ticket Manager</a>
					</li>
					<li>
						<a href="/link_handler/advocate/" class="handler_link"><img src="{{ STATIC_URL }}images/icons/advocate.ico" alt="Advocate" align="top" width="16" height="16" border="0" />Advocate</a>
					</li>
					<!-- <li>
						<a href="/link_handler/devices/" class="handler_link"><img src="{{ STATIC_URL }}images/icons/controller.png" alt="Device Manager" align="top" width="16" height="16" border="0" />Device Pass Through</a>
					</li> -->
					<!-- <li>
						<a href="/link_handler/abuse/" class="handler_link"><img src="{{ STATIC_URL }}images/icons/log.png" alt="Abuse Log Finder" align="top" width="16" height="16" border="0" />Abuse Log Finder</a>
					</li> -->
					<li>
						<a href="/link_handler/cisco/" class="handler_link"><img src="{{ STATIC_URL }}images/icons/cisco.gif" alt="Cisco View" align="top" width="16" height="16" border="0" />Cisco View</a>
					</li>
					<li>
						<a href="/link_handler/ccamgr/" class="handler_link"><img src="{{ STATIC_URL }}images/icons/cisco.gif" alt="Clean Access Manager" align="top" width="16" height="16" border="0" />CCA Manager</a>
					</li>
					<li>
                        <a onclick="$('#wiki_pages_list').toggle()" style="cursor: pointer !important;"><img src="{{STATIC_URL}}images/icons/Confluence_icon.jpg" alt="Wiki Pages" align="top" width="16" height="16" border="0" />Wiki Pages</a>
                    </li>
                    <ul id="wiki_pages_list" style="display: none;">
                        <li>
                            <a href="/link_handler/resnet_wiki/" class="handler_link sublink">ResNet Wiki</a>
                        </li>
                        <li>
                            <a href="/link_handler/housing_wiki/" class="handler_link sublink">University Housing Wiki</a>
                        </li>
                        <li>
                            <a href="/link_handler/its_wiki/" class="handler_link sublink">ITS Wiki</a>
                        </li>
                        <!-- ITS, RESNET, HOUSING -->
					<!-- <li>
						<a href="/link_handler/wiki/" class="handler_link"><img src="{{ STATIC_URL }}images/icons/favicon.ico" alt="ResNet Wiki" align="top" width="16" height="16" border="0" />ResNet Wiki</a>
					</li> -->
				</ul>
				{% endif %}

				{% if request.user.is_developer or request.user.is_rn_staff %}
				<h2>Staff Tools</h2>
				<ul>
				    <li>
                        <a href="{% url 'restech_list_edit' %}"><img src="{{ STATIC_URL }}images/icons/restech.png" alt="Manage Technicians" align="top" width="16" height="16" border="0" />Manage Technicians</a>
                    </li>
				</ul>
				{% endif %}

				{% if request.user.is_developer or request.user.is_network_analyst or request.user.is_rn_staff or request.user.is_technician %}
				<h2>Network Analysis</h2>
                <ul>
					<li>
						<a href="/link_handler/aruba/" class="handler_link"><img src="{{ STATIC_URL }}images/icons/aruba.ico" alt="Aruba ClearPass" align="top" width="16" height="16" border="0" />Aruba ClearPass</a>
					</li>
                    <li>
                        <a onclick="$('#aruba_controllers_list').toggle()" style="cursor: pointer !important;"><img src="{{STATIC_URL}}images/icons/aruba.ico" alt="Aruba Controllers" align="top" width="16" height="16" border="0" />Aruba Controllers</a>
                    </li>
                    <ul id="aruba_controllers_list" style="display: none;">
                        <li>
                            <a href="/link_handler/ac_halls/" class="handler_link sublink">Halls Controller</a>
                        </li>
                        <li>
                            <a href="/link_handler/ac_pcv/" class="handler_link sublink">PCV Controller</a>
                        </li>
                        <li>
                            <a href="/link_handler/ac_failover/" class="handler_link sublink">Failover Controller</a>
                        </li>
                        <li>
                            <a href="/link_handler/ac_airwaves_p/" class="handler_link sublink">Airwaves Primary</a>
                        </li>
                        <li>
                            <a href="/link_handler/ac_airwaves_s/" class="handler_link sublink">Airwaves Secondary</a>
                        </li>
                    </ul>
                </ul>
                {% endif %}

				{% if request.user.is_developer or request.user.is_rn_staff or request.user.is_technician or request.user.is_net_admin or request.user.is_tag or request.user.is_telecom %}
				<h2>Databases</h2>
				<ul>
					<li>
						<a href="{% url 'residence_halls_wired_ports' %}"><img src="{{STATIC_URL}}images/icons/database.png" alt="Residence Halls Port Map" align="top" width="16" height="16" border="0" />Res Halls Port Map</a>
					</li>
					{% if request.user.is_developer or request.user.is_rn_staff or request.user.is_technician or request.user.is_net_admin or request.user.is_tag %}
					<li>
						<a href="{% url 'uh_computers' %}"><img src="{{STATIC_URL}}images/icons/database.png" alt="UH Computer Index" align="top" width="16" height="16" border="0" />UH Computer Index</a>
					</li>
					<li>
						<a href="{% url 'uh_printers' %}"><img src="{{STATIC_URL}}images/icons/database.png" alt="UH Printer Index" align="top" width="16" height="16" border="0" />UH Printer Index</a>
					</li>
					{% endif %}
				</ul>
				{% endif %}

				{% if request.user.is_developer or request.user.is_rn_staff or request.user.is_technician %}
				<h2>Equipment</h2>
				<ul>
					<li>
						<a href="{% url 'printer_request_list' %}"><img src="{{STATIC_URL}}images/icons/printer.png" alt="Printer Requests" align="top" width="16" height="16" border="0" />Printer Requests</a>
					</li>
					<ul>
						<li>
						<a href="{% url 'printer_inventory' %}" class="sublink">Check Inventory</a>
					    </li>
					    <li>
						<a href="{% url 'printer_ordered_items' %}" class="sublink">Ordered Items</a>
					    </li>
					</ul>
				</ul>
				{% endif %}

				{% if request.user.is_developer %}
                <h2>Administration</h2>
                <ul>
                    <li>
                        <a href="/link_handler/flugzeug/" class="handler_link"><img src="{{STATIC_URL}}images/icons/django.ico" alt="Django Admin" align="top" width="16" height="16" border="0" />Django Admin Site</a>
                    </li>
                </ul>
                {% endif %}

				{% if request.user.is_developer or request.user.is_rn_staff or request.user.is_technician %}
				<!-- Begin Daily Duties Widget -->
				<div id="navcontent1">
					<div class="gold" id="dailyDuties">
						<h2 class="center">Daily Duties</h2>
						<h3>Check Messages</h3>
						<p>
							Last Checked:
							<br />
							<font color="#900">retrieving data...</font>
							<br />
						</p>
						<h3>Check Email</h3>
						<p>
							Last Checked:
							<br />
							<font color="#900">retrieving data...</font>
							<br />
						</p>
						<h3>Check Tickets</h3>
						<p>
							Last Checked:
							<br />
							<font color="#900">retrieving data...</font>
							<br />
						</p>
						<h3></h3>
						<p>
							Note: Times update upon click of task title link.
						</p>
					</div>
				</div>
				<!-- End Daily Duties Widget -->
				{% endif %}
			</div>
			<!-- End Navigation Bar -->
			{% endif %}
			{% block content %}{% endblock %}
			<div id="footer">
				<div id="footer_links">
					<p>
						<a href="http://get.adobe.com/reader/" title="Download Adobe Reader for viewing PDFs">Get Adobe Reader</a>					</p>
				</div>
				<div id="footer_deptlinks">
					<ul>
						<li class="removeBullet">
							<a href="https://housing.calpoly.edu">University Housing</a>
						</li>
						<li>
							<a href="https://residentiallife.calpoly.edu">Residential Life &amp; Education</a>
						</li>
						<li>
							<a href="https://resnet.calpoly.edu">Residential Networking Services</a>
						</li>
					</ul>
					<img src="{{STATIC_URL}}images/django_logo_negative.png" width="136px" height="60px" class="djangoLogo" />
				</div>
				<div id="footer_deptinfo">
					<p>
						ResNet Development Team
						<br />
						California Polytechnic State University
						<br />
						San Luis Obispo, CA 93401
						<br />
						<a href="mailto:resdev@calpoly.edu">resdev@calpoly.edu</a>
					</p>
				</div>
			</div>
		</div>
		{% block extra_script %}
		<script type="text/javascript">
    		function update_link_targets(key) {
                if (key == "False") {
                    $(".handler_link").attr("target", "_blank");
                }
                else {
                    $(".handler_link").attr("target", "_self");
                }
            };
            $(document).ready(function() {
                update_link_targets("{{ request.user.open_links_in_frame }}");
            });

        </script>
		{% endblock %}
		<noscript>
        	<div id="noscript-warning">Many applications on this website require that JavaScript be enabled. Please do so.</div>
    	</noscript>
	</body>
</html>
