{% extends "base.html" %}
{% load core_user_tests %}

{% block meta %}
{{ block.super }}
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    jQuery.fn.dataTableExt.aTypes.unshift(
        function ( sData )
        {
            // IP Address Filter for dataTables
            if (/^\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b$/.test(sData)) {
                return 'ip-address';
            }

			// MAC Address Filter for dataTables
            if (/^([0-9a-fA-F]{2}([:]?|$)){6}$/.test(sData)) {
                return 'mac-address';
            }
            return null;
        }
    );

    function confirm_remove(printer_id) {
		var response = confirm('Are you sure you want to delete this printer?');
		if (response) {
   			Dajaxice.resnet_internal.printers.remove_printer(Dajax.process, {'printer_id': printer_id});
		} else {
    		return false;
		}
	}

    var printer_index;

    // initialize the dataTable
    $(document).ready(function() {
        // Initialize the DataTable. See datatables documentation for information about each option
        computer_index = $('#printer_index').dataTable( {
            "aaSorting": [[ 1, "asc" ], [ 2, "asc" ], [ 3, "asc" ]],
            "oLanguage": {
                "sLengthMenu": 'Display <select>'+
                    '<option value="50">50</option>'+
                    '<option value="100">100</option>'+
                    '<option value="150">150</option>'+
                    '<option value="200">200</option>'+
                    '<option value="250">250</option>'+
                    '<option value="-1">All</option>'+
                    '</select> records:',
                "sSearch": "Filter records: ",
                "sZeroRecords": "No records to display."
            },
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{% url 'populate_uh_printers' %}",
            "iDisplayLength": 50,
            "sPaginationType": "full_numbers",
            "bLengthChange": true,
            "bAutoWidth": false,
            "sDom": '<lrf><"clear">t<ip><"clear">',
            // Custom column rendering
            "aoColumnDefs": [
                { "sClass": "width0", "bSearchable": false, "bVisible": false, "aTargets": [ 0 ] },
                { "sClass": "width225", "sType": "string", "aTargets": [ 1 ] },
                { "sClass": "width225", "sType": "string", "aTargets": [ 2 ] },
                { "sClass": "width150", "sType": "string", "aTargets": [ 3 ] },
                { "sClass": "width150", "sType": "mac-address", "aTargets": [ 5 ] },
                { "sClass": "width150", "sType": "ip-address", "aTargets": [ 4 ] },
                { "sClass": "width100", "sType": "string", "aTargets": [ 6 ] },
                { "sClass": "width100", "sType": "string", "aTargets": [ 7 ] },
                { "sClass": "width100", "sType": "string", "aTargets": [ 8 ] },
                { "sClass": "width225", "sType": "string", "aTargets": [ 9 ] },
                {% if request.user|printers_modify_access %}
                	{ "sClass": "edit_trigger width225", "sType": "string", "aTargets": [ 10 ] },
                	{ "sClass": "width50", "sType": "string", "aTargets": [ 11 ] },
                {% else %}
                	{ "sClass": "width225", "sType": "string", "aTargets": [ 10 ] },
                	{ "sClass": "width0", "bSearchable": false, "bVisible": false, "aTargets": [ 11 ] },
                {% endif %}
            ],
        });

        {% if request.user|printers_modify_access %}
	        $(document).on("dblclick", "#printer_index td", handle_edit);
	        $(document).on("click", "#printer_index .edit_trigger", handle_edit);

	        function handle_edit() {
	            row_id = $(this).children("div").attr("id");
	            editable_columns = $("#"+ row_id + ".editable");

	            editable_columns.children(".display_data").hide(); // Hide the display field
	            editable_columns.children(".editbox").show(); // Show the edit field

				$(".editbox").unbind('change'); // Strange fix to prevent multiple ajax calls for one change.
	            $(".editbox").change(function() {
	                request_dict = {};
	                row_zero = $("#" + row_id + ":eq(0)").text();

	                // Generate a request string
	                editable_columns.children(".editbox").each(function () {
	                    column_name = $(this).parent().attr("column");
	                    value = $(this).val();

	                    // Validate each field as it comes through
	                    if (value != null) {
	                        // Validate the IP address field (specifially)
	                        if (column_name == "ip_address") {
	                            var reg = /^(\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b)?$/;
	                            if (!reg.test(value)) {
	                                alert('Please enter a valid IP address.');
	                                return false;
	                            }
	                        }
	                        request_dict[column_name] = value;
	                    }
	                    else {
	                        alert('Please fill all editable fields with data.');
	                        return false;
	                    }
	                });

	                // Send the data
	                Dajaxice.resnet_internal.printers.modify_printer(Dajax.process, {"request_dict": request_dict, "row_id": row_id, "row_zero": row_zero, "username": '{{ request.user.username }}'});
	            });

	            // Edit input box click action
	            $(".editbox").mouseup(function() {
	                return false;
	            });

	            // Outside click action
	            $(document).mouseup(function() {
	                $(".editbox").hide();
	                $(".display_data").show();
	            });
	        };
	    {% endif %}
    });
</script>
{% endblock %}

{% block subtitle %} | University Housing Printer Index{% endblock %}

{% block content %}
<div id="content-2col">
    <div id="content">
        <div id="splashOuter">
            <!--<div id="splash"></div>-->
        </div>
        <div id="topContent">
            <h1>University Housing Printer Index</h1>
        </div>
        {% if request.user|printers_modify_access %}
        <p style="color: red;">
            {{ form.non_field_errors }}
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}
        </p>
        {% endif %}
        <div class="clear"></div>
        <table id="printer_index">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Department</th>
                    <th>Sub Department</th>
                    <th>Printer Name</th>
                    <th>MAC Address</th>
                    <th>IP Address</th>
                    <th>Model</th>
                    <th>Serial Number</th>
                    <th>Property ID</th>
                    <th>Distinguished Name</th>
                    <th>Description</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="clear"></div>
        {% if request.user|printers_modify_access %}
        <div>
            <form method="post" id="add_printer_form">
                <fieldset>
                <legend>
                    Add a new printer
                </legend>
                    <p>
                        {{ form.non_field_errors }}
                        {% for field in form %}
                        {{ field.errors }}
                        {% endfor %}
                    </p>
                    <div class="horizontal_fields">
	                    <p>
	                        <label for="id_department">{{ form.department.label }}</label>
	                        {{ form.department }}
	                    </p>
	                    <p>
	                        <label for="id_sub_department">{{ form.sub_department.label }}</label>
	                        <select id="id_sub_department" name="sub_department" size="1">
	                       	{% if form.sub_department.value %}
	                            <option value="{{ form.sub_department.value }}" selected="selected">{{ form.sub_department.label }}</option>
	                        {% else %}
	                        	<option value="" selected="selected">---------</option>
	                        {% endif %}
	                        </select>
	                    </p>
	                    <p>
	                        <label for="id_printer_name">{{ form.printer_name.label }}</label>
	                        {{ form.printer_name }}
	                    </p>
	                    <p>
	                        <label for="id_mac_address">{{ form.mac_address.label }}</label>
	                        {{ form.mac_address }}
	                    </p>
	                    <p>
	                        <label for="id_ip_address">{{ form.ip_address.label }}</label>
	                        {{ form.ip_address }}
	                    </p>
	                    <p>
	                        <label for="id_model">{{ form.model.label }}</label>
	                        {{ form.model }}
	                    </p>
	                    <p>
	                        <label for="id_serial_number">{{ form.serial_number.label }}</label>
	                        {{ form.serial_number }}
	                    </p>
	                    <p>
	                        <label for="id_property_id">{{ form.property_id.label }}</label>
	                        {{ form.property_id }}
	                    </p>
	                    <p>
	                        <label for="id_dn">{{ form.dn.label }}</label>
	                        {{ form.dn }}
	                    </p>
	                    <p>
	                        <label for="id_description">{{ form.description.label }}</label>
	                        {{ form.description }}
	                    </p>
                    </div>
                </fieldset>
                    <p>
                        <input type="submit" value="Add" />
                    </p>
                {% csrf_token %}
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block extra_script %}
{{ block.super }}
{% if request.user|printers_modify_access %}
<script type="text/javascript">
	$("#id_department").change(function () {
		Dajaxice.resnet_internal.computers.update_sub_department(Dajax.process, {'department': $(this).val()});
	});

	{% if form.sub_department.value %}
	$(document).ready(function () {
		Dajaxice.resnet_internal.computers.update_sub_department(Dajax.process, {'department': '{{ form.department.value }}', 'sub_department_selection': '{{ form.sub_department.value }}'});
	});
	{% endif %}
</script>
{% endif %}
{% endblock %}