{% extends "base.html" %}
{% block subtitle %} | View Ordered Printer Items{% endblock %}

{% block content %}
<div id="content-2col">
    <div id="content">
        <div id="topContent">
            <h1>Items on Order</h1>
        </div>
        <div class="half_table" >
        <h2>Toner</h2>
        <table border="1" class="table_directory">
            <tbody>
                <tr>
                    <th scope="col" width="40%">Printer</th>
                    <th scope="col" width="40%">Color</th>
                    <th scope="col" width="20%">Ordered</th>
                </tr>
                {% if toner_list %}
                    {% for item in toner_list %}
                    <tr>
                        <td>{{ item.cartridge.printer }}</td>
                        <td>{{ item.cartridge.color }}</td>
                        <td><input id="id_toner_{{ item.cartridge.id }}" min="0" name="{{ item.cartridge.id }}" value="{{ item.count_form.ordered.value }}" type="number" onchange="Dajaxice.resnet_internal.printers.update_toner_inventory(Dajax.process, {'toner_id': $(this).attr('name'), 'ordered': $(this).val()})"></td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        </div>
        <div class="half_table" style="padding-left: 10%;">
        <h2>Parts</h2>
        <table border="1" class="table_directory">
            <tbody>
                <tr>
                    <th scope="col" width="40%">Printer</th>
                    <th scope="col" width="40%">Type</th>
                    <th scope="col" width="20%">Ordered</th>
                </tr>
                {% if part_list %}
                    {% for item in part_list %}
                    <tr>
                        <td>{{ item.part.printer }}</td>
                        <td>{{ item.part.type }}</td>
                        <td><input id="id_part_{{ item.part.id }}" min="0" name="{{ item.part.id }}" value="{{ item.count_form.ordered.value }}" type="number" onchange="Dajaxice.resnet_internal.printers.update_part_inventory(Dajax.process, {'part_id': $(this).attr('name'), 'ordered': $(this).val()})"></td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}
