{% extends "base.html" %}

{% block content %}
  <div id="content-2col">
    <div id="content">
      <div id="splashOuter">
        <div id="splash"></div>
      </div>
      <div id="topContent">
        <h1>Welcome to the ResNet Internal Tech Tools Site</h1>
        <h2>Featured Article</h2>
        <div class="contentBox">
          <img src="images/splash_samples/news1.jpg" alt="2007 Supermileage Team with the Black Widow" class="imageright" height="253" width="264" title="2007 Supermileage Team with the Black Widow" /><h3>Black Widow Supermileage Racer Takes Silver</h3>
          <p>SAN LUIS OBISPO -- Students from Cal Poly's College of Engineering  are tuning up the 'Black Widow' supermileage racecar and looking for  another first-place win.</p>
          <p>Cal Poly will enter its vehicle,  the Black Widow, to compete against 51 other high school and university  teams from around the world in the 2009 Shell Eco-marathon Americas.  This year&rsquo;s supermileage challenge event takes place at Auto Club  Speedway in Fontana. </p>
          <p>In 2008, with  a whopping 2,752.3 miles per gallon, Cal Poly&rsquo;s &lsquo;Supermileage&rsquo; car  finished second place in the competition. In 2007, Cal Poly's &quot;Black  Widow&quot; took first place with an impressive 1,902.7 mpg. </p>
          <p>The  annual student competition, hosted by Shell oil company, awards cash  prizes of up to $5,000 for the most fuel-efficient vehicles. Not only  are the 52 student teams looking to break the 1,208 kilometres per  litre record set in 2008, they are providing the world a glimpse into  the fuels, technologies and transportation of tomorrow. </p>
        </div>
        </div>
      <div id="columns">
        <div id="column1">
          <h2>Top Stories of 2009</h2>
          <h3>Dude! Cal Poly Ranks as No. 3 'Surf School' in the Nation</h3>
          <p>Cal Poly ranked No. 3 in the nation in the 2009 'Top 10 Surf Schools' ranking by Surfline.com.<br />
          </p>
          <h3>Orfalea Business College Breaks into Top Tier </h3>
          <p>The  Orfalea College of Business at Cal Poly is one of only two public  universities in California to rank in the Top 100 undergraduate  business programs in the nation, according to a recent ranking by  Business Week magazine.</p>
          <h3> Cal Poly Named to President&rsquo;s Honor Roll</h3>
          <p>Cal Poly and 15 other California State University campuses made the President&rsquo;s Higher Education Community Service Honor Roll. </p>
        </div>
        <div id="column2">
          <h2>Cal Poly Grown</h2>
          <h3><strong>Cal Poly Organic Farm</strong><img src="images/splash_samples/news3.jpg" alt="Organic Farm Field" width="230" height="161" class="imageright" title="Organic Farm Field" /></h3>
          <p>Cal Poly's learn-by-doing tradition means that the university's  College of Agriculture produces a variety of campus-grown or  campus-made food, flowers, plants and more that are for sale throughout  the year to both the campus community and the general public.</p>
          <p>Some  are produced as part of hands-on lessons in college classes. Others are  'Enterprise Projects,' in which the university provides money or  resources, students provide labor in design, production, packaging and  marketing under the supervision of faculty. Net proceeds from  Enterprise Projects go to pay the students involved and can be  re-invested in the project.</p>
          <h3><strong>Cal Poly Cheese</strong></h3>
          <p><img src="images/splash_samples/news4.jpg" alt="Cal Poly Cheese Packet" width="165" height="189" class="imageleft" title="Cal Poly Cheese Packet" />Cal Poly Cheese is a student Enterprise Project, operating in Cal  Poly&rsquo;s historic Creamery. Students are supervised by Dairy Science  Professor Nana Farkye. Cal Poly Cheese Produces seven varieties of  gourmet cheeses; they are available for ordering through the Cal Poly  Cheese web site and at Campus Market.</p>
    </div>
        <div id="column3">
          <h2 class="quicklinks">For Media</h2>
          <ul class="quicklinks">
            <li><a href="#">Cal Poly Grown </a></li>
            <li><a href="#">Faculty</a></li>
            <li><a href="#">Programs</a></li>
            <li><a href="#">Experts Directory </a></li>
            <li><a href="#">Simply the Best</a></li>
          </ul>
          <h2 class="quicklinks">Entertainment Links</h2>
          <ul class="quicklinks">
            <li><a href="#">Events Calendar</a></li>
            <li><a href="#">Cal Poly Arts</a></li>
            <li><a href="#">Performing Arts Center </a></li>
            <li> <a href="#">Alumni Events</a></li>
            <li><a href="#">ASI Events</a></li>
            <li><a href="#">Sports Events</a></li>
          </ul></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
 {% endblock %}
