{% extends "base.html" %}

{% block content %}
  <div id="content-2col">
    <div id="content">
      <div id="splashOuter">
        <div id="splash"></div>
      </div>
      <div id="topContent">
        <h1>Welcome to the ResNet Internal Tech Tools Site</h1>
        <h2>Network Status</h2>
        <div class="contentBox">
          <h3>Pretty Graphs and Stuff will go here.</h3>
          <p>Here is some text.</p>
        </div>
        </div>
      <div id="columns">
        <div id="column1">
          <h2>General Site Announcements</h2>
          <h3>ResNet Internal Updated Project Scheme</h3>
          <p>ResNet Internal is now configured to use the new project scheme. In order to acheive this quickly, some sections of the website have been disabled, most notably the Daily Duties widget and the orientation.<br /></p>
          <h3>Welcome IS Telecom Admins!</h3>
          <p>IS Telcom administrators have been granted access to the Resisdence Halls Wired Port Map. To accomodate them, the user model has been reconfigured and reset. When the orientation feature comes back online, all ResNet techs will have to go through it again. This should be clear, but if you've already done the tasks, skip through the orientation by clicking the "I've already done this" button.</p>
          <h3>ResNet Internal Hits Version Alpha 0.1</h3>
          <p>For more information, visit the <a href="https://uh-hornrock.housing.calpoly.edu/jira/browse/RNIN#selectedTab=com.atlassian.jira.plugin.system.project%3Aroadmap-panel" target="_blank">project tracker</a>. If you come across a bug or have a suggestion for a useful tool, please create an issue with the tracker and we'll see what we can do.</p>
        </div>
        <div id="column2">
          <h2>Section With Some Stuff</h2>
          <h3><strong>Cal Poly Organic Farm</strong></h3>
          <p>Cal Poly's learn-by-doing tradition means that the university's  College of Agriculture produces a variety of campus-grown or  campus-made food, flowers, plants and more that are for sale throughout  the year to both the campus community and the general public.</p>
          <p>Some  are produced as part of hands-on lessons in college classes. Others are  'Enterprise Projects,' in which the university provides money or  resources, students provide labor in design, production, packaging and  marketing under the supervision of faculty. Net proceeds from  Enterprise Projects go to pay the students involved and can be  re-invested in the project.</p>
          <h3><strong>Cal Poly Cheese</strong></h3>
          <p>Cal Poly Cheese is a student Enterprise Project, operating in Cal  Poly&rsquo;s historic Creamery. Students are supervised by Dairy Science  Professor Nana Farkye. Cal Poly Cheese Produces seven varieties of  gourmet cheeses; they are available for ordering through the Cal Poly  Cheese web site and at Campus Market.</p>
        </div>
        <div id="column3">
          <h2 class="quicklinks">Useful Links</h2>
          <ul class="quicklinks">
            <li><a href="https://uh-hornrock.housing.calpoly.edu/jira/browse/RNIN" target="_blank">Project Tracker</a></li>
          </ul></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
 {% endblock %}
