{% extends "base.html" %}
{% load core_user_tests %}

{% block main %}
    <div class="col-xs-12 col-md-12 col-lg-4">
        <h2>General Site Announcements</h2>
        {% for announcement in announcements %}
            <h3>{{ announcement.title }}&nbsp&nbsp<wbr /><small>{{ announcement.created|date }}</small></h3>
            <p>{% autoescape off %}{{ announcement.description }}{% endautoescape %}</p>
        {% endfor %}
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <h2>Network Status</h2>
        <div id="network-status-response" class="table-responsive table-wrapper-cutoff">
            <p>Loading...</p>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <h2>Ticket Summary</h2>
        <div id="tickets-response" class="table-responsive table-wrapper-cutoff">
        {% if request.user.is_authenticated and request.user|technician_access %}
            <p>Loading...</p>
        {% elif request.user.is_authenticated %}
            <p>The Ticket Summary is only currently available to ResNet Technicians.</p>
        {% else %}
            <p>Please log in to view tickets.</p>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    $(document).ready(function() {
        ajaxGet("{% url 'core_update_network_status' %}");
        {% if request.user.is_authenticated and request.user|technician_access %}
            ajaxGet("{% url 'core_get_tickets' %}");
        {% endif %}
    });
</script>
{% endblock %}
