<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="modal-body">
                    <div id="modal-progress-bar" class="progress">
                        <div  class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    function jQueryEscapeStr(str) {
        if (str)
            return str.replace(/([ #;?%&,.+*~\':"!^$[\]()=>|\/@])/g,'\\$1');      
    
        return str;
    };
    function show_iframe(iframe) {
        $('#modal-progress-bar').css('display', 'none');
        $('#modal-iframe-div').css('display', '');
        
        var iframe = document.getElementById('modal-iframe');
        iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
    };
    function openModalFrame(modalTitle, url) {
        $('.modal-title').text(modalTitle);
        $('#modal').modal({show: true}).on('hidden.bs.modal', function(e) {
            modalClosed();
        });

        var replacementHTML = '<div id="modal-iframe-div" style="display: none"><iframe id="modal-iframe" width="100%" frameborder="0" src="' + url + '"></iframe></div>';
        $('#modal-body').append(replacementHTML);
        document.getElementById('modal-iframe').onload = function() {
            show_iframe();
        };
    };
    function modalClosed() {
        $('#modal-iframe-div').remove();
        $('#modal-progress-bar').css('display', '');
    };
</script>