<script type="text/javascript">
    function jQueryEscapeStr(str) {
        if (str)
            return str.replace(/([ #;?%&,.+*~\':"!^$[\]()=>|\/@])/g,'\\$1');      
    
        return str;
    };
    function show_iframe(iframe, modalID) {
        $('#' + modalID + '-modal-progress-bar').css('display', 'none');
        $('#' + modalID + '-modal-iframe-div').css('display', '');
        iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
    };
    function openModalFrame(modalID, url) {
        var escapedModalID = jQueryEscapeStr(modalID);
        $('#' + escapedModalID + '-modal').modal({show: true}).on('hidden.bs.modal', function(e) {
            modalClosed(escapedModalID);
        });;

        var replacementHTML = '<div id="' + modalID + '-modal-iframe-div" style="display: none"><iframe id="modal-iframe" width="100%" frameborder="0" src="' + url + '"></iframe></div>';
        $('#' + escapedModalID + '-modal-body').append(replacementHTML);
        document.getElementById('modal-iframe').onload = function() {
            show_iframe(document.getElementById('modal-iframe'), escapedModalID);
        };
    };
    function modalClosed(modalID) {
        $('#' + modalID + '-modal-iframe-div').remove();
        $('#' + modalID + '-modal-progress-bar').css('display', '');
    };
</script>