<script type="text/javascript">
    function jQueryEscapeStr(str) 
    {
        if (str)
            return str.replace(/([ #;?%&,.+*~\':"!^$[\]()=>|\/@])/g,'\\$1');      
    
        return str;
    }
    function resize_iframe(iframe) {
        iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
    }
    function openModalFrame(modal_id, url) {
        modal_id = jQueryEscapeStr(modal_id);
        $('#' + modal_id + '-modal').modal({show: true});

        $.ajax({
            url: url,
            success: function(iframeSource){
                var escapedSource = iframeSource.replace(/\"/g,'&quot;');
                var replacementHTML = '<iframe width="100%" onload="resize_iframe(this)" frameborder="0" srcdoc="' + escapedSource + '"></iframe></div>';
                $('#' + modal_id + '-modal-body').html(replacementHTML);
            }
        });
    };
</script>