{% extends "base.html" %}
{% load core_user_tests %}
{% load datatables %}

{% block subtitle %} | Residence Halls Rooms{% endblock %}

{% block main %}
    <div class="col-xs-12">
        <p style="color: red;">
            {{ form.non_field_errors }}
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}
        </p>
    </div>

    <div class="col-xs-12">
        <table id="residence_halls_rooms">
        </table>
    </div>


    <div class="col-xs-12">
        <div>
            <form method="post" id="add_room_form">
                <fieldset>
                    <legend>
                        Add a new room
                    </legend>
                    <p>
                        {{ form.non_field_errors }}
                        {% for field in form %}
                        {{ field.errors }}
                        {% endfor %}
                    </p>
                    <div class="horizontal_fields">
                        {{ form.as_p }}
                    </div>
                </fieldset>
                <p>
                    <input type="submit" value="Add" />
                </p>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    {% datatables_script %}
{% endblock %}