{% extends "base.html" %}
{% load core_user_tests %}
{% load datatables %}

{% load crispy_forms_tags %}


{% block subtitle %} | Rooms{% endblock %}

{% block main %}
    <div class="col-xs-12">
        <div class="page-header">
            <h2>Rooms</h2>
        </div>
    </div>

    {% if form.errors %}
    <div class="col-xs-12">
        <div class="bs-callout bs-callout-danger">
            <h4>Form Error</h4>
            The room could not be added. Refer to the form below for details.
        </div>
    </div>
    {% endif %}

    <div class="col-xs-12">
        <table id="rooms" class="table table-striped table-bordered table-condensed" width="100%"></table>
    </div>

    <div class="col-xs-12">
        {% crispy form %}
    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    {% datatables_script %}
{% endblock %}