{% extends "base_frame.html" %}
{% load core_user_tests %}

{% block meta %}
    {{ block.super }}
    <style type="text/css">
        table th {
            cursor: auto !important;
        }
    </style>
{% endblock %}

{% block subtitle %} | University Housing Computer Record{% endblock %}

{% block content %}
    <h1>Association Record for {{ ip_address }}</h1>
    <br />
    <h2 style="float: left;">Pinholes&nbsp;&nbsp;</h2>{% if request.user|computer_record_modify_access %}<a class="add_link" href="{% url 'pinhole_request' ip_address=ip_address %}">+Add Pinhole</a>{% endif %}
    <table class="dataTable">
        <tbody>
            <tr>
                <th scope="col" width="15%">Service Name</th>
                <th scope="col" width="12.5%">Inner FW?</th>
                <th scope="col" width="12.5%">Border FW?</th>
                <th scope="col" width="20%">TCP Ports</th>
                <th scope="col" width="20%">UDP Ports</th>
                <th scope="col" width="10%">SR Number</th>
                <th scope="col" width="10%" style="text-decoration: none !important">&nbsp;</th>
            </tr>
            {% if pinholes %}
                {% for pinhole in pinholes %}
                <tr id="pinhole_{{ pinhole.id }}">
                    <td>{{ pinhole.service_name }}</td>
                    <td>{{ pinhole.inner_fw }}</td>
                    <td>{{ pinhole.border_fw }}</td>
                    <td>
                        {% for port in pinhole.tcp_ports %}
                            {{ port }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for port in pinhole.udp_ports %}
                            {{ port }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ pinhole.sr_number }}</td>
                    <td>{% if request.user|computer_record_modify_access %}<a style="color:red; cursor:pointer;" onclick="remove_pinhole('{{ pinhole.id }}')">Remove</a>{% endif %}</td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="6">There are no pinholes associated with this IP address.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="clear"></div>
    <h2>DNS Record (A)</h2>
    <table class="dataTable">
        <tbody>
            <tr>
                <th scope="col">DNS Record</th>
            </tr>
            <tr>
                <td>{{ dns_record }}</td>
            </tr>
        </tbody>
    </table>
    <div class="clear"></div>
    <h2 style="float: left;">Domain Names (CNAME)&nbsp;&nbsp;</h2>{% if request.user|computer_record_modify_access %}<a class="add_link" href="{% url 'domain_name_request' ip_address=ip_address %}">+Add Domain Name</a>{% endif %}
    <table class="dataTable">
        <tbody>
            <tr>
                <th scope="col" width="80%">Domain Name</th>
                <th scope="col" width="10%">SR Number</th>
                <th scope="col" width="10%" style="text-decoration: none !important">&nbsp;</th>
            </tr>
            {% if domain_names %}
                {% for domain_name in domain_names %}
                <tr id="domain_name_{{ domain_name.id }}">
                    <td>{{ domain_name.domain_name }}</td>
                    <td>{{ domain_name.sr_number }}</td>
                    <td>{% if request.user|computer_record_modify_access %}<a style="color:red; cursor:pointer;" onclick="remove_domain_name('{{ domain_name.id }}')">Remove</a>{% endif %}</td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="2">There are no domain names associated with this IP Address.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

	{% block extra_script %}
	{{ block.super }}
	<script type="text/javascript">
		function remove_pinhole(pinhole_id)  {
			ajaxPost("{% url 'remove_uh_computer_pinhole' %}", {"pinhole_id": pinhole_id}, function(response_context) {
				alert("A pinhole removal request has been created in your name. Please use SR#" + response_context["sr_number"] + " as a reference.")
				$("#pinhole_" + pinhole_id).remove();
			});
		}

		function remove_domain_name(domain_name_id)  {
			ajaxPost("{% url 'remove_uh_computer_domain_name' %}", {"domain_name_id": domain_name_id}, function(response_context) {
				alert("A domain name removal request has been created in your name. Please use SR#" + response_context["sr_number"] + " as a reference.")
				$("#domain_name_" + domain_name_id).remove();
			});
		}
	</script>
	{% endblock %}
{% endblock %}
